<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bukhari.fyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme">
        <activity android:name=".PointActivity"></activity>
        <activity android:name=".SmartCardActivity3" />
        <activity android:name=".SmartCardActivity2" />
        <activity
            android:name=".SmartCardActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GreetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookChallanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnAdmissionInstructActivity"
            android:parentActivityName=".UndergraduateRequirementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UndergraduateRequirementsActivity"
            android:parentActivityName=".AdmissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdmissionActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" /> <!-- This gives a red light but it is correct here -->
        <!-- SplashScreen        ProfileActivity -->
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" /> <!-- com.google.android.maps.v2.API_KEY -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>